version: "3.2"
services:
  python-unlock-password:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    volumes:
      - type: bind
        source: ../../
        target: /main
    working_dir: /main
    ports:
      - "8888:8888"
    command:
      jupyter lab
        --ip=0.0.0.0
        --allow-root
        --NotebookApp.token=''
        --port=8888
    environment:
        PYTHONPATH: "/main/src"
        PYTHONUNBUFFERED: 1
